.h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #003366;
	margin-left: 1px;
}
a:link {
	color: #003366;
	text-decoration:underline;
}
a:active {
	color: #003366;
	text-decoration:underline;
}
a:hover {
	color: #CC9900;
	text-decoration:underline;
}
body {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	margin-left: 6px;
	margin-right: 6px;
	color:#000000;
}
.h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.red {
	color: #FF0000;
}
.green {
	color: #009900;
}
.blue {
	color: #003399;
}
.orange {
	color: #FF9900;
}
.yellow {
	color: #FFFF00;
}
.grey {
	color: #999999;
}


